main {
    max-width: 1240px;
    margin: 50px auto 0;

    .cards-container {
        margin-top: 50px;
        padding: 50px;
        background: $light-gray-1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 60px;
        width: 100%;
      }
}

@media screen and (max-width: 1250px) {
    main {
        padding: 0 25px;
    }
}

@media screen and (max-width: 900px) {
    main {
        .cards-container {
            padding: 50px 0;
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 0 11.5px;

        .main-bg {
            height: 111px;
            justify-content: start;

            p {
                font-size: 1.5rem;
                margin-left: 10px;
            }
        }

        .cards-container {
            margin-top: 22px;
            background: $white-1;
            padding: 0;
            gap: 22px;

            a {
                width: 100%;
                article {
                    width: 100%;
                    height: 255px;
                }
            }
        }
    }
}